/*
========================================
  			Responsive CSS
======================================== 
*/
@media (max-width: 1299px){
	.contact-style-two .info-column h3{
		font-size: 24px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.contact-style-two .info-column h4{
		font-size: 24px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (min-width: 1200px){
	.container {
		padding: 0;
	}
	.container-fluid{
		padding: 0;
	}
}
@media only screen and (max-width: 1200px){
	.theme-slider .slide-item::before {
	    width: 1300px;
	}
	.theme-slider .slide-item::after {
	    width: 1200px;
	}
}

@media (max-width: 1199px) {
	.about-us .video-image-box{
		margin-top: 40px;
	}
	.about-us.style-2 .video-image-box{
		margin-bottom: 40px;
		margin-top: 0px;
	}
	.main-menu{
		margin-left: -50px;
	}
	.mainmenu-area .navigation li a {
		margin: 0 10px;
	}
	.mainmenu-area .right-column .thm-btn {
    	padding: 0px 15px;
	}	
	.mainmenu-area .right-area .btn-style-one{
		padding: 11px 13px;
	}
	.service-box-one .single-service-box-one{
		margin-bottom: 20px;
	}	
	.single-projects .blog-sidebar{
		margin-top: 40px;
		padding-left: 0px;
	}
	.blog-sidebar{
		padding-left: 0px;
	}
	.who-we-are-area .content{
		padding: 30px;
	}
	.who-we-are-area .founder {
	    margin-top: 30px;
	}
	.about-style-one .content-column .content-box {
	    padding: 180px 80px 180px 128px;
	}	
	.service-block .inner-box .image-box .overlay-box{
		padding: 40px 20px;
	}
	.projects-block-one .caption-title h3 {
	  color: #fff;
	  font-size: 16px;
	}
	.services-section .image-column {
	    margin-top: 0;
	}
	.service-block-one {
	    margin-bottom: 40px;
	}
	.service-block-two {
	    margin-bottom: 40px;
	}
	.why-people-sec .content-column {
	    padding:25px 10px;
	}
	.why-people-sec .sec-title {
	    margin-bottom: 20px;
	}

}

@media only screen and (max-width: 991px){
	.top-bar .container{
		max-width: 100%;
	}
	.mainmenu-area .container{
		max-width: 100%;
		padding: 0;
	}
	.dropicon{
		display: block;
	}
	.navbar-brand{
		margin:10px 0 10px 15px;
	}
	.navigation {
    	display: none;
  	}
  	.mainmenu-area.stricky-fixed .main-logo {
	    display: none;
	}	
	.main-menu {
		background: #f7f7f7;
		position: relative;
		margin-left: 0px;
	}
	.theme-slider .slide-item::after, .theme-slider .slide-item::before{
		left: -650px;
	}
	.theme-slider .slide-content h2{
		max-width: 500px;
		font-size: 38px;
	}
	.theme-slider .slide-content p{
		max-width: 500px;
		font-size: 14px;
	}
	.default-two-column .default-text-column{
		margin-top: 30px;
	}
	.blog-sidebar{
		padding-top: 10px;
	}
	.page_pagination.style-2{
		padding: 20px 0px 0px;
	}
	.contact_us .default-cinfo{
		margin-bottom: 40px;
	}
	.purchase-section .btn-column{
		margin-top: 20px;
		float: none;
		text-align: center;
	}
	.top-bar .social {
		width: 100%;
		text-align: center;	
	}	
	.service-single .video-image-box{
		margin-top: 50px;
	}
	.popular-post .item{
		min-height: 90px;
	}
	.about-style-one .image-column{
		position:relative;
		left:0px;
		top:0px;
		height:400px;
		width:100%;
	}
	.about-style-one .content-column{
		width:100%;	
	}	
	.about-style-one .content-column .content-box{
		float: inherit;
		padding:50px 30px;
		max-width: 750px;
		margin: 0 auto;
	}
	.contact-style-two .form-column{
	  	display: none; 
	}
	.contact-style-two .info-column{
	  	position:relative;
		width:100%; 
		height: 400px;
	} 
	.call-to-action .link-column .link-btn5{
		float: none;
	}
	.contact_us .default-form-area{
		margin-bottom: 50px;
	} 
	.who-we-are-area .who-we-are-img-holder img {
		float: inherit;
	    max-width: 100%;
	}
	.who-we-are-area .content {
	    margin-left: 0;
	    margin-top: 40px;
	}
	.main-footer .widgets-section {
	    padding: 70px 0px 40px;
	}
	.main-footer .footer-widget {
	    margin-bottom: 30px;
	}
	.features-one .column.br {
	    border-right: none;
	}
	.left-icon-column .inner-box {
	    max-width: initial;
	}
	.services-section.style-2 .left-column {
		order: 1;
	}
	.services-section.style-2 .image-column {
	    order: 3;
	}
	.services-section.style-2 .right-column {
		order: 2;
	}
	.service-block-one .inner-box .icon{
		left: 0;
	}
	.service-block-one .inner-box {
	    padding-right: 0;
	    text-align: left;
	    padding-left: 90px;
	}
	.side-banner{
	    min-height: 250px;
	}

}

@media (max-width: 767px){
	.padd-1 {
	    padding: 50px 0px 20px;
	}
	.padd-2 {
	    padding: 50px 0px 50px;
	}
	.padd-3 {
	    padding: 0px 0px 30px;
	}
	.padd-5{
		padding: 0;
	}
	.padd-6 {
	    padding: 50px 0px 20px;
	}
	.navbar-brand img {
	    max-width: 130px;
	}
	.m-padd-0{
		padding-top: 0;
	}
	.corp-slider .slide-item img, .theme-slider .slide-item img {
	    height: calc(100vh - 115px);
	}
	.theme-slider .slide-item::after, .theme-slider .slide-item::before{
		left: -350px;
	}
	.main-slider .theme-slider.owl-theme .owl-dots .owl-dot.active span {
	    background-color: #222222;
	}
	.project-result .image-box{
	  	margin-top: 30px;
	}
	.top-bar{
		padding-bottom: 10px;
	}
	.top-bar .social-style-one.float_right{
		float: none;
		text-align: center;
		margin-top: -5px;
	}
	.service-single .strategies .image-box{
		margin-top: 20px;
	}
	.our-skill .skills-column{
		margin: 30px 0 40px;
	}
	.footer-bottom .pull-right{
		display: none;
	}
	.rev_slider_wrapper .tparrows {
		display: none;
	}
	.sec-title h2 {
	    font-size: 28px;
	}
	.sec-title.style-2 h2 {
	    font-size: 28px;
	}
	.feature-content-one .lower-content h4 a {
	    font-size: 18px;
	}
	.fact-counter .count-outer {
	    font-size: 28px;
	}
	.fact-counter .column .counter-title {
	    font-size: 16px;
	}
	.fact-counter .item {
	    padding: 15px 0 15px;
	}
	.fact-counter .column {
	    margin-bottom: 20px;
	}
	.who-we-are-area .founder .name h3 {
	    font-size: 16px;
	}
	.who-we-are-area .content {
	    margin-top: 0;
	}
	.fact-counter {
	    padding: 50px 0px 20px;
	}
	.purchase-section h2 {
	    font-size: 24px;
	    text-align: center;
	}
	.btn-style-seven {
	    padding: 10px 20px;
	}
	.main-footer .widgets-section {
	    padding: 30px 0px 0px;
	}
	.main-footer .footer-logo {
	    margin-bottom: 20px;
	}
	.main-footer .section-title h3 {
	    font-size: 16px;
	}
	.main-footer .about-widget .text {
	    margin-bottom: 10px;
	    padding-bottom: 0;
	}
	.main-footer .service-widget .list li {
	    margin-bottom: 7px;
	}
	.main-footer .links-widget .list li {
	    margin-bottom: 7px;
	}
	.call-to-action .icon-column .inner-box .icon span:before {
	    font-size: 25px;
	}
	.btn-style-two {
	    padding: 7px 20px;
	}
	.call-to-action .icon-column .inner-box .icon {
	    width: 55px;
	    height: 55px;
	    line-height: 55px;
	}
	.call-to-action .icon-column .inner-box {
	    padding-left: 75px;
	}
	.call-to-action .icon-column .inner-box h3 {
	    font-size: 16px;
	}
	.default-service-block .inner-box {
	    padding: 30px 20px;
	}
	.default-service-block .inner-box h3 a {
	    font-size: 18px;
	    margin-bottom: 10px;
	}
	.default-service-block .inner-box .text {
	    font-size: 14px;
	    margin-bottom: 10px;
	}
	.about-style-one .image-column .overlay-link .icon {
		top: 40%;
	    width: 60px;
	    height: 60px;
	    line-height: 55px;
	    font-size: 24px;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	}
	.about-style-one .image-column {
	    height: 250px;
	}
	.purchase-section {
	    padding: 50px 0px;
	}
	.call-to-action .column {
	    margin-bottom: 15px;
	}
	.left-icon-column .inner-box h3 {
	    font-size: 18px;
	}
	.features-one .column {
	    margin-bottom: 25px;
	}
	.features-one .column {
	    margin-bottom: 25px;
	}
	.left-icon-column .inner-box {
	    padding-left: 70px;
	}
	.left-icon-column .inner-box .icon {
	    width: 50px;
	    height: 50px;
	    line-height: 45px;
	}	
	.left-icon-column .inner-box .icon span:before {
	    font-size: 24px;
	}
	.services-section.style-2 {
	    padding: 50px 0px 0px;
	}
	.services-section .outer-box {
	    margin-top: 60px;
	}
	.service-block-one .inner-box .icon span:before {
	    font-size: 28px;
	}
	.service-block-one .inner-box .icon {
	    width: 50px;
	    height: 50px;
	    line-height: 50px;
	    top: 5px;
	}
	.service-block-one .inner-box {
	    padding-left: 70px;
	}
	.service-block-one .inner-box h3 a {
	    font-size: 18px;
	}
	.service-block-one .inner-box h3 {
	    margin-bottom: 0;
	}
	.service-block-one {
	    margin-bottom: 20px;
	}
	.service-block-two .inner-box .icon{
		width: 50px;
		height: 50px;
		line-height: 45px;
		top: 5px;
	}
	.service-block-two .inner-box .icon span:before {
	    font-size: 24px;
	}
	.service-block-two .inner-box {
	    padding-left: 70px;
	}
	.service-block-two {
	    margin-bottom: 20px;
	}
	.parallax-style-two h2 {
	    font-size: 28px;
	}
	.parallax-style-two .text {
	    font-size: 16px;
	    margin-bottom: 20px;
	    line-height: 24px;
	}
	.service-img img {
	    width: 200px;
	}
	.btn-style-five {
	    padding: 7px 20px;
	}
	.parallax-style-two .btn-style-five {
	    margin-right: 0px;
	}
	.btn-style-one {
	    padding: 7px 20px;
	}
	.progress-levels .progress-box .box-title {
	    font-size: 16px;
	}
	.progress-levels .progress-box .bar {
	    height: 5px;
	}
	.progress-levels .progress-box .bar .bar-fill{
		height: 5px;
	}
	.progress-levels .progress-box .percent{
		font-size: 16px;
	}
	.progress-levels .progress-box {
	    margin-bottom: 30px;
	}
	.testimonials-section.style-2 .testi-slide-item {
	    margin-bottom: 0;
	}
	.ticket-price .plan-header h2 {
	    font-size: 38px;
	}
	.ticket-price .plan-duration {
	    font-size: 16px;
	}
	.ticket-price .plan-stats {
	    padding: 30px 0;
	}
	.ticket-price .inner-box {
	    padding-bottom: 40px;
	}
	.contact-style-two .info-column {
	    height: 300px;
	}
	.inner-banner .box {
	    height: 170px;
	}
	.inner-banner h3 {
	    font-size: 28px;
	    line-height: 38px;
	}
	.contact-style-two .info-column h4 {
	    font-size: 18px;
	}
	.about-we-do{
		padding-top: 50px;
	}
	.breadcumb-wrapper ul, .breadcumb-wrapper li {
	    font-size: 14px;
	}
	.breadcumb-wrapper .get-qoute {
	    font-size: 14px;
	}
	.breadcumb-wrapper a.get-qoute i {
	    font-size: 10px;
	}
	.testi-page.style-2  .testi-slide-item {
	    margin-bottom: 30px;
	}
	.error-section .error-text h2 {
	    font-size: 100px;
	}
	.projects-block-one {
	    margin-bottom: 20px;
	}
	.single-projects {
	    padding: 50px 0px;
	}
	.m-order-1{
		order: 1;
	}
	.m-order-2{
		order: 2;
	}
	.single-projects .blog-sidebar {
	    margin-top: 0;
	}
	.inner-title h3 {
	    font-size: 20px;
	}
	.sidebar_tags ul li a {
	    padding: 5px 20px;
	}
	.service-single {
	    padding: 50px 0px;
	}
	.blog-sidebar {
	    padding-top: 30px;
	}
	.sidebar_search button {
	    top: 15px;
	    right: 15px;
	}
	.sidebar-padd {
	    padding: 15px;
	}
	.large-blog-news .lower-content .post-meta {
	    font-size: 14px;	
	}
	.large-blog-news .lower-content h4 a {
	    font-size: 18px;
	}
	.sidebar-page-container blockquote {
	    padding-left: 30px;
	    padding-right: 20px;
	    font-size: 14px;
	}
	.share-box {
	    flex-direction: column;
	    padding: 15px;
	}
	.share-box .tag-box{
		width: 100%;
	}
	.social-box{
		width: 100%;
		justify-content: start;
	}
	.comments-area .comment-box strong {
	    font-size: 16px;
	}
	.comments-area .comment-box .author-thumb {
	    width: 70px;
	}
	.comments-area .comment {
	    padding: 0px 0px 0px 90px;
	}
	.add_your_review {
	    margin-top: 30px;
	}
	.add_your_review form input, .add_your_review form textarea {
	    border: 1px solid #dcdcdc;
	    margin-bottom: 15px;
	}
	.add_your_review form input {
	    height: 45px;
	}
	.add_your_review form textarea {
	    min-height: 100px;
	    padding: 5px 10px 5px 10px;
	}
	.contact_us {
	    padding: 50px 0px;
	}
	.contact_us .default-form-area {
	    margin-bottom: 0;
	}
	.map-outer iframe {
	    height: 250px;
	}
	.about-style1-right-content .inner-content-box p br {
	    display: none;
	}
	.about-style1-right-content .inner-content-box {
	    max-width: initial;
	    padding: 20px;
	    padding-right: 20px;
	    margin-top: 0;
	}
	.about-style1-right-content .inner-content-box p {
	    font-size: 14px;
	    line-height: 20px;
	    font-weight: 400;
	}
	.about-style1-right-content .inner-content-box .icon-holder span:before {
	    font-size: 40px;
	    line-height: 40px;
	}
	.about-style1-right-content .inner-content-box .icon-holder {
	    padding-bottom: 10px;
	}
	.about-style1-image-bg {
	    top: auto;
	    left: auto;
	    bottom: 20px;
	    right: 20px;
	    max-width: 80px;
	    height: 80px;
	    border-radius: 100%;
	    margin: 0 auto;
	}
	.about-style1-area {
	    padding: 25px 0 50px;
	}
	.about-style1-content .inner-content .button li {
	    padding-left: 10px;
	}
	.about-style1-content .inner-content .button li a {
	    text-transform: capitalize;
	    font-size: 12px;
	}
	.icon-arrow.fa.fa-angle-double-right {
	    font-size: 14px;
	    padding-right: 5px;
	}
	.why-people .col-md-6:nth-child(01),
	.why-people .col-md-6:nth-child(02),
	.why-people .col-md-6:nth-child(03){
	    border:0;
	}
	.process-block:last-child {
	    margin-bottom: 0;
	}


}

@media (max-width: 575px) {
	.theme-slider .slide-content h2 {
	    max-width: 420px;
	    font-size: 28px;
	}
	.main-slider .theme-slider.owl-theme .owl-nav + .owl-dots{
		bottom: 15px;
		right: auto;
		left: auto;
		width: 100%;
		justify-content: center;
		display: flex;
		transform: none;
	}
	.main-slider .theme-slider.owl-theme .owl-dots .owl-dot{
		box-shadow: none;
		margin: 0 5px;
	}
	.btn-style-eight {
	    padding: 10px 15px;
	    font-size: 14px;
	}
	.main-footer .gallery-widget .image {
	    width: 70px;
	}
	.error-section {
	    padding: 70px 0;
	}
	.error-section .text {
	    font-size: 18px;
	    margin-top: 20px;
	    margin-bottom: 30px;
	    padding: 0 15px;
	}
	.error-section .error-options .or {
	    font-size: 18px;
	    margin: 15px;
	    display: block;
	}
	.single-fact-counter .count-box h2 {
	    font-size: 22px;
	}
	.single-fact-counter .count-box h2 i:before {
	    font-size: 14px;
	}
	.single-fact-counter .title h3 {
	    font-size: 12px;
	    line-height: 14px;
	}
	.single-fact-counter .title {
	    margin: 0;
	}
	.single-fact-counter {
	    margin-bottom: 20px;
	}
}
@media (max-width: 570px) {
	.default-form-area {
		width: 100%;
	}
	.top-bar{
		padding-top: 10px;
	}
	.top-bar .top-bar-text{
		line-height: 28px;
		margin-bottom: 12px;
	}
	.error-section h3{
		font-size: 28px;
	}
	.parallax-style-two .btn-style-six{
		display: none;
	}
	.comments-area .reply-comment .comment {
	    margin-left: 0px;
	}
	.comments-area .reply-comment.three .comment {
    	margin-left: 0px;
	}
}

@media (max-width: 360px) {
	.error-section .error-text h2{
		font-size: 110px;
	}
	.error-search-box .form-group input[type="text"], 
	.error-search-box .form-group input[type="search"]{
		width: 85%;
	}
	.error-search-box .form-group button{
		right: 50px;
	}
	.service-block .inner-box .image-box:hover .overlay-box {
    	padding: 15px;
	}
}